In [1]:
import pandas as pd
import numpy as np

In [6]:
infile = '2018-04-26_through_2018-05-26.csv'

df = pd.read_csv(infile, skiprows = 35, nrows=31)
df.tail(2)

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
29,2018-05-25,"3,155","5,389",2.54,1,821,145,32,13,"1,127"
30,2018-05-26,"3,121","4,092",1.93,2,"1,258",172,7,3,999

In [7]:
infile = '2018-05-27_through_2018-06-26.csv'

df2 = pd.read_csv(infile, skiprows = 35, nrows=31)
df2.tail(2)

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
29,2018-06-25,"3,127","3,810",1.8,1,768,183,8,0,"1,032"
30,2018-06-26,"2,144",0,0.0,0,"1,440",0,0,0,0

In [ ]:
# for i in range(3):
#     locals()['x' + str(i)] = i
# x2
infiles = ['2018-05-27_through_2018-06-26.csv']
dddd

In [ ]:
# df['Date'] = pd.to_datetime(df['Date'])
# df = df.set_index('Date')
# df.index.name = ''
# df.head(3)